#calendarTitle{
    height: 200px;
    width: 100%;
}

/* 2x2 grid to contain all calendar elements */
#gridWrapper{
    display:grid;
    grid-template-rows: 12% 88%;
    grid-template-columns: 8% 92%;

}
.topBar {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;

}

/* sets 1x7 grid of days of the weeks */
.days{
    grid-row: 1 ;
    grid-column: 1 ;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
}
.dayNumbers {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
}
    /* assign each day object to a grid space within "days" */
        .mon{
            display: block;
            grid-column: 1;
        }

        .tues{
            display: block;
            grid-column: 2;                        
        }

        .wed{
            display: block;
            grid-column: 3;
        }

        .thurs{
            display: block;
            grid-column: 4;
        }

        .fri{
            display: block;
            grid-column: 5;
        }

        .sat{
            display: block;
            grid-column: 6;
        }

        .sun{
            display: block;
            grid-column: 7;
        }

/* sets 24x1 grid of hour times */
.hours{
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-rows: repeat(24, 1fr) ;
    grid-template-columns: 1;
}

    /* assign each hour object to a grid space within "hours"  */
        .zero{
            display: block;
            grid-row: 1;
        }

        .one{

        }

        .two{
            display: block;
            grid-row: 3;
        }

        .three{
            display: block;
            grid-row: 4;
        }

        .four{
            display: block;
            grid-row: 5;
        }

        .five{
            display: block;
            grid-row: 6;
        }

        .six{
            display: block;
            grid-row: 7;
        }

        .seven{
            display: block;
            grid-row: 8;
        }

        .eight{
            display: block;
            grid-row: 9;
        }

        .nine{
            display: block;
            grid-row: 10;
        }

        .ten{
            display: block;
            grid-row: 11;
        }

        .eleven{
            display: block;
            grid-row: 12;
        }

        .twelve{
            display: block;
            grid-row: 13;
        }

        .thirteen{
            display: block;
            grid-row: 14;
        }

        .fourteen{
            display: block;
            grid-row: 15;
        }

        .fifteen{
            display: block;
            grid-row: 16;
        }

        .sixteen{
            display: block;
            grid-row: 17;
        }

        .seventeen{
            display: block;
            grid-row: 18;
        }

        .eighteen{
            display: block;
            grid-row: 19;
        }

        .nineteen{
            display: block;
            grid-row: 20;
        }

        .twenty{
            display: block;
            grid-row: 21;
        }

        .twenty-one{
            display: block;
            grid-row: 22;
        }

        .twenty-two{
            display: block;
            grid-row: 23;
        }

        .twenty-three{
            display: block;
            grid-row: 24;
        }



/* creates 24x7 grid for calendar "box" divs */
#calendarGrid{
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-rows: repeat(24, 1fr) ;
    grid-template-columns: repeat(7, 1fr);
    background-color: white; 
}
