#calendarTitle {
    font-family: "Poppins";
    color: navy;
    size: 50px;
}

#calendarView {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(7, 1fr);
}